<!DOCTYPE html>
<html>
    <head>
        <title>AVFD Private Member Site - {% block title %}{% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="torch.css">
    </head>

    <body>
        <h1> AVFD Private Member Site </h1>
        <h2>{% block head %}{% endblock %}</h2>
        {% block content %}{% endblock %}
        <br>
        <br>
        <br>
        <div class="base_navagation">
        <a href="/">Main menu</a>
        {% if user.is_authenticated %}
            <a href="/logout">Log out</a>
        {% else %}
            <a href="/login/">Log in</a>
        {% endif %} 
        </div>
    </body>
</html>